# Python Fundamentals — Full Training Notebook (Two‑Cell Format, Dev‑Style Comments)

**Rule:** every example is split into:
1. **Setup/operation cell**  
2. **Print cell**  

Comments explain *functionality only* (no repetitive boilerplate).  
US names only.

---

## 01 — Variables, Operators, and Built‑in Functions

### Variables and Basic Types

In [ ]:
# int: whole number
age = 34

In [ ]:
# show result
print(age, type(age))

In [ ]:
# float: decimal number
account_balance = 1520.75

In [ ]:
# show result
print(account_balance, type(account_balance))

In [ ]:
# str: text
first_name = 'Emily'
last_name = 'Carter'

In [ ]:
# show result
print(first_name, last_name, type(first_name))

In [ ]:
# bool: True/False flag
is_verified = True

In [ ]:
# show result
print(is_verified, type(is_verified))

### Arithmetic Operators

In [ ]:
# define operands once
a = 19
b = 6
sum_ab = a + b  # addition

In [ ]:
print(sum_ab)

In [ ]:
diff_ab = a - b  # subtraction

In [ ]:
print(diff_ab)

In [ ]:
prod_ab = a * b  # multiplication

In [ ]:
print(prod_ab)

In [ ]:
div_ab = a / b   # true division (float)

In [ ]:
print(div_ab)

In [ ]:
floor_div = a // b  # floor division (int)

In [ ]:
print(floor_div)

In [ ]:
remainder = a % b   # modulus (remainder)

In [ ]:
print(remainder)

In [ ]:
power = a ** b      # exponentiation

In [ ]:
print(power)

### Assignment Operators

In [ ]:
points = 10  # initial value

In [ ]:
print(points)

In [ ]:
points += 5  # add 5

In [ ]:
print(points)

In [ ]:
points *= 3  # multiply by 3

In [ ]:
print(points)

In [ ]:
points -= 4  # subtract 4

In [ ]:
print(points)

### Comparison and Logical Operators

In [ ]:
x = 14
y = 21

In [ ]:
print(x, y)

In [ ]:
is_greater = x > y  # greater‑than check

In [ ]:
print(is_greater)

In [ ]:
is_not_equal = x != y  # inequality check

In [ ]:
print(is_not_equal)

In [ ]:
in_range = 10 <= x <= 15  # chained comparison

In [ ]:
print(in_range)

In [ ]:
is_adult = age >= 18  # age from earlier
has_membership = False

In [ ]:
print(is_adult, has_membership)

In [ ]:
can_enter = is_adult and has_membership  # both must be True

In [ ]:
print(can_enter)

In [ ]:
has_access = is_adult or has_membership  # either can be True

In [ ]:
print(has_access)

In [ ]:
not_member = not has_membership  # boolean negation

In [ ]:
print(not_member)

### Built‑ins and Type Conversion

In [ ]:
values = [4.5, 2.0, 9.1, 3.3]  # sample list

In [ ]:
print(values)

In [ ]:
count_values = len(values)  # number of items

In [ ]:
print(count_values)

In [ ]:
total_values = sum(values)  # sum of items

In [ ]:
print(total_values)

In [ ]:
min_value = min(values)  # smallest item

In [ ]:
print(min_value)

In [ ]:
max_value = max(values)  # largest item

In [ ]:
print(max_value)

In [ ]:
rounded_pi = round(3.14159, 3)  # round to 3 decimals

In [ ]:
print(rounded_pi)

In [ ]:
num_as_text = '57'
pi_as_text = '2.718'

In [ ]:
print(num_as_text, pi_as_text)

In [ ]:
num_int = int(num_as_text)  # str -> int

In [ ]:
print(num_int, type(num_int))

In [ ]:
pi_float = float(pi_as_text)  # str -> float

In [ ]:
print(pi_float, type(pi_float))

In [ ]:
back_to_str = str(num_int)  # int -> str

In [ ]:
print(back_to_str, type(back_to_str))

## 02 — Print Statement, Precision, and Field Width

### Basic print

In [ ]:
city = 'Seattle'
temp_f = 58

In [ ]:
print('City:', city, '| Temp:', temp_f)

In [ ]:
letters = ['A', 'B', 'C']

In [ ]:
print(*letters, sep='--', end=' <done>\n')

### f‑strings and precision

In [ ]:
pi = 3.1415926535
items = 9
unit_price = 3.75
total_cost = items * unit_price

In [ ]:
print(f'pi to 2 decimals: {pi:.2f}')

In [ ]:
formatted_items = f'{items:>8}'  # right align width 8

In [ ]:
print(formatted_items)

In [ ]:
formatted_total = f'${total_cost:>10.2f}'  # width 10, 2 decimals

In [ ]:
print(formatted_total)

### format()

In [ ]:
value = 9876.54321

In [ ]:
print('2 decimals: {:.2f}'.format(value))

In [ ]:
print('scientific: {:.3e}'.format(value))

In [ ]:
print('zero‑padded: {:010.1f}'.format(value))

## 03 — Lists, Tuples, and Sets

### Lists

In [ ]:
scores = [72, 88, 91, 67]

In [ ]:
print(scores)

In [ ]:
first_score = scores[0]
last_score = scores[-1]

In [ ]:
print(first_score, last_score)

In [ ]:
scores.append(85)  # add to end
scores[3] = 70       # replace by index

In [ ]:
print(scores)

In [ ]:
middle_scores = scores[1:3]
every_other = scores[::2]

In [ ]:
print(middle_scores)

In [ ]:
print(every_other)

### List methods / comprehensions

In [ ]:
names = ['olivia', 'liam', 'noah', 'emma']

In [ ]:
print(names)

In [ ]:
names.sort()  # in‑place sort

In [ ]:
print(names)

In [ ]:
upper_names = [n.upper() for n in names]  # map to uppercase

In [ ]:
print(upper_names)

In [ ]:
long_names = [n for n in names if len(n) >= 4]  # filter by length

In [ ]:
print(long_names)

### Tuples

In [ ]:
point = (5, 12)

In [ ]:
print(point)

In [ ]:
x_coord, y_coord = point  # tuple unpacking

In [ ]:
print(x_coord, y_coord)

### Sets

In [ ]:
states = {'Texas', 'Florida', 'Ohio', 'Texas'}  # duplicates drop

In [ ]:
print(states)

In [ ]:
states.add('Nevada')

In [ ]:
print(states)

In [ ]:
more_states = {'Ohio', 'Utah'}
union_states = states | more_states
intersect_states = states & more_states
diff_states = states - more_states

In [ ]:
print(union_states)

In [ ]:
print(intersect_states)

In [ ]:
print(diff_states)

## 04 — Strings and Dictionaries

### Strings

In [ ]:
text = 'Learning Python is awesome'

In [ ]:
print(text)

In [ ]:
text_len = len(text)
first_char = text[0]

In [ ]:
print(text_len)

In [ ]:
print(first_char)

In [ ]:
first_word = text[:8]
last_word = text[-7:]

In [ ]:
print(first_word)

In [ ]:
print(last_word)

In [ ]:
upper_text = text.upper()
replaced = text.replace('awesome', 'powerful')
words = text.split()

In [ ]:
print(upper_text)

In [ ]:
print(replaced)

In [ ]:
print(words)

### String formatting

In [ ]:
language = 'Python'
level = 'intermediate'
message = f'You are an {level} {language} developer.'

In [ ]:
print(message)

In [ ]:
word_list = ['Data', 'flows', 'smoothly']
sentence = ' '.join(word_list)

In [ ]:
print(sentence)

### Dictionaries

In [ ]:
student = {
    'id': 2002,
    'name': 'Sarah Johnson',
    'grades': [87, 90, 94]
}

In [ ]:
print(student)

In [ ]:
student_name = student['name']

In [ ]:
print(student_name)

In [ ]:
student['email'] = 'sarah.johnson@example.com'
student['name'] = 'Sarah J.'

In [ ]:
print(student)

In [ ]:
phone = student.get('phone', 'N/A')

In [ ]:
print(phone)

In [ ]:
items_list = list(student.items())

In [ ]:
print(items_list)

### Dict comprehension

In [ ]:
prices_usd = {'coffee': 3.25, 'bagel': 2.10, 'sandwich': 7.50}

In [ ]:
print(prices_usd)

In [ ]:
prices_cents = {k: int(v * 100) for k, v in prices_usd.items()}

In [ ]:
print(prices_cents)

## 05 — Control Flow Statements

### if / elif / else

In [ ]:
temperature_f = 90

In [ ]:
print(temperature_f)

In [ ]:
if temperature_f >= 85:
    weather_msg = 'It is hot.'
elif temperature_f >= 65:
    weather_msg = 'It is pleasant.'
else:
    weather_msg = 'It is cold.'

In [ ]:
print(weather_msg)

### for loops

In [ ]:
nums = list(range(1, 5))

In [ ]:
print(nums)

In [ ]:
squares = [n**2 for n in nums]

In [ ]:
print(squares)

In [ ]:
colors = ['red', 'green', 'blue']

In [ ]:
print(colors)

In [ ]:
upper_colors = []
for c in colors:
    upper_colors.append(c.upper())

In [ ]:
print(upper_colors)

### while loops

In [ ]:
counter = 3

In [ ]:
print(counter)

In [ ]:
steps = []
while counter > 0:
    steps.append(counter)
    counter -= 1

In [ ]:
print(steps)

### break / continue

In [ ]:
values = [5, 0, 2, 1]

In [ ]:
print(values)

In [ ]:
results = []
for v in values:
    if v == 0:
        continue  # skip divide by zero
    r = 10 / v
    results.append(r)
    if r < 3:
        break  # stop early

In [ ]:
print(results)

## 06 — Functions

### Define and call

In [ ]:
def greet(person_name):
    return f'Hello, {person_name.title()}!'

In [ ]:
print(greet('james'))

### Params, defaults

In [ ]:
def calculate_total(price, quantity=1, tax_rate=0.07):
    subtotal = price * quantity
    return subtotal * (1 + tax_rate)

In [ ]:
print(calculate_total(12.5, 4))

In [ ]:
print(calculate_total(12.5, 4, 0.03))

### *args / **kwargs

In [ ]:
def summarize(*args, **kwargs):
    return args, kwargs

In [ ]:
print(summarize(10, 20, label='Q4', status='OK'))

### Lambda

In [ ]:
pairs = [(2, 'z'), (1, 'x'), (3, 'y')]
pairs_sorted = sorted(pairs, key=lambda p: p[1])

In [ ]:
print(pairs_sorted)

## 07 — Classes

### Class + objects

In [ ]:
class Wallet:
    def __init__(self, owner, balance=0.0):
        self.owner = owner
        self.balance = float(balance)

    def deposit(self, amount):
        if amount <= 0:
            raise ValueError('Deposit must be positive')
        self.balance += amount
        return self.balance

    def withdraw(self, amount):
        if amount <= 0:
            raise ValueError('Withdraw must be positive')
        if amount > self.balance:
            raise ValueError('Insufficient funds')
        self.balance -= amount
        return self.balance

    def __repr__(self):
        return f'Wallet(owner={self.owner!r}, balance={self.balance:.2f})'

In [ ]:
w = Wallet('Michael', 75)

In [ ]:
print(w)

In [ ]:
w.deposit(25)

In [ ]:
print(w.balance)

In [ ]:
w.withdraw(40)

In [ ]:
print(w.balance)

### Inheritance

In [ ]:
class SavingsWallet(Wallet):
    def apply_interest(self, rate):
        if rate < 0:
            raise ValueError('Rate cannot be negative')
        self.balance *= (1 + rate)
        return self.balance

In [ ]:
sw = SavingsWallet('Jessica', 120)

In [ ]:
print(sw)

In [ ]:
sw.apply_interest(0.05)

In [ ]:
print(sw.balance)

## Practice Exercises

1. Define a couple variables (city, temperature, weekend flag) and print their types.  
2. Make a list of numbers; print mean/min/max.  
3. Write `count_vowels(text)` and test it.  
4. Convert a price dict to cents using a comprehension.  
5. Implement a `TodoList` class.

---